body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #121212;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  header {
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
    color: #e0e0e0;
    background: #1f1f1f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  }
  
  header h1 {
    margin: 0;
    font-size: 1.8em;
    padding: 10px;
    border-radius: 10px;
    color: white;
  }
  
  header p {
    font-size: 1em;
    text-align: center;
    color: #b0b0b0;
  }
  
  main, .wikitermsearch {
    width: 80%;
    max-width: 800px;
    background: #1f1f1f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  #search-section, #search-container {
    margin-bottom: 20px;
  }
  
  #search-form, #search-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #search-query, #entry {
    padding: 10px;
    width: 70%;
    border: 2px solid #6a82fb;
    border-radius: 5px;
    font-size: 1em;
    margin-right: 10px;
    background: #2a2a2a;
    color: #e0e0e0;
    transition: border-color 0.3s ease;
  }
  
  #search-query:focus, #entry:focus {
    border-color: #fc5c7d;
    outline: none;
  }
  
  #entry {
    margin-bottom: 20px;
  }
  
  #results-section, #result-container {
    margin-top: 20px;
  }
  
  #results-section h2, #result-container h2 {
    text-align: center;
    color: #6a82fb;
  }
  
  .result-item, #answer {
    background: #2a2a2a;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #444;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
    font-size: 1em;
  }
  
  .result-item:hover, #answer:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  }
  
  .result-item h3 {
    margin: 0;
    color: #6a82fb;
    font-size: 1.2em;
  }
  
  .result-item p {
    color: #b0b0b0;
    font-size: 1em;
  }
  
  .result-item a {
    color: #fc5c7d;
    text-decoration: none;
    font-weight: bold;
  }
  
  .result-item a:hover {
    text-decoration: underline;
  }
  
  #language-selection {
    display: none;
  }
  
  #answer {
    display: none;
  }
  